{% extends 'base.html' %}

{% block title %}
Selected Actor: {{ name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 ps-md-5">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">{{ name }}</h1>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

	  <p>Images are from <a href="https://placebear.com/">placebear</a>.</p>

	  <p>jitterbugging McKinley Abe break Newtonian inferring caw update Cohen air collaborate rue sportswriting 
      rococo invocate tousle shadflower Debby Stirling pathogenesis escritoire adventitious novo ITT most 
      chairperson Dwight Hertzog different pinpoint dunk McKinley pendant firelight Uranus episodic medicine 
      ditty craggy flogging variac brotherhood Webb impromptu file countenance inheritance cohesion refrigerate 
      morphine napkin inland Janeiro nameable yearbook hark</p>

    </div>
    <div class="col-md-6">

      <img src="{{ photo }}" alt="Photo: {{ name }}" class="img-fluid pt-5">

      <p><em>Above: {{ name }}</em></p>

    </div>
  </div>
</div>

{% endblock %}
