{% extends 'base.html' %}

{% block title %}
Selected Search: {{ searchterm }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 ps-md-5">
      <h2><a href="{{ url_for('index') }}">Return to search page</a></h2>
        <p>There are a total of {{ total }} cards with "{{ searchterm }}" in the card title.
          Below are the results the alphabetical order.
        </p>
        <p>{{ best.name }}, {{ best.prices.usd}}, {{ best.set_name }}

        </p>
	    
      {% for card in searchcall %}
        <h1 class="pt-5 pb-2">{{ card.name }}</h1>
        <h1 class="pt-5 pb-2">{{ card.set}}, #{{ card.num }}, ${{ card.price }}</h1>
          <img src="{{ card.image }}" alt="Photo: {{ card.name }}" class="img-fluid pt-5">
        </p>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
