{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Magic Search
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Explore the Multiverse with this Flask example!</h1>

      <p class="lead">At the click of a button, you will pull up the 
        name, set and price of any Magic cards that contain your search term in its title.
        This is done with a Flask app using Bootstrap and WTForms. 
        </p>

      {{ render_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
